#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo-wogo
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#start-button-wutton{
background:#FF1919;
color: white;


}



